.clearfix:after{
    content:"";
    clear: both;
    display: block;
}
html,body{
    height:100%;
}
body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image:url(../images/background.png);
    margin:0px;
    display: flex;
    flex-direction: column;
}

.wrapper{
    flex:1 0 auto;
}

/*-------------------Header------------------------------*/
header{
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.logo{
    
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

#myName{
    width: 7em;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
}

/*-------------------Main Content------------------------------*/
.main{
    border: #dddddd;
    width:960px;
    margin: 30px auto 30px auto;
}

.main{
    background: #ffffff;
    border: 1px solid #cccccc;
    padding:20px 50px 20px 50px;
    overflow: auto;
}

 h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom:20px;
}

.left_panel{
    float: left;
    width: 30%;
    padding:20px;
    text-align: center;
}

.right_panel{
    float:left;
    width:70%;
    padding:20px;
}


/*----------index.html-------*/
#profile{
    height: 200px;
    width:200px;
    margin:10px;
    border-radius: 100px;
}

.link{
    margin:10px;
}

#links{
    margin: 10px;
    padding:10px;
}

.link-project{
    height:20px;
    float: right;
}

/*-------------------Footer------------------------------*/

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

footer{
    background: #666666;
    color:#cccccc;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    width:100%;
    height:20px;
    padding-top:40px;
    padding-bottom:10px;
}



